body {
  background-color: #eeeeee;
}

header {
  border-bottom: 1px solid black;
}

aside {
  border-right: 1px solid black;
  width: 300px;
  float: left;
}

section {
  padding-left: 20px;
  overflow: auto;
}

section textarea {
  width: 600px;
  height: 400px;
}
